<!DOCTYPE html>
	<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
	<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
	<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
	<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Slider Revolution 5.0</title>
		<meta name="description" content="Slider Revolution Example" />
		<meta name="keywords" content="fullscreen image, grid layout, flexbox grid, transition" />
		<meta name="author" content="ThemePunch" />
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- LOAD JQUERY LIBRARY -->
		<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.js"></script>
		
		<!-- LOADING FONTS AND ICONS -->
		<link href="//fonts.googleapis.com/css?family=Raleway:500,800" rel="stylesheet" property="stylesheet" type="text/css" media="all" />
		
		<link rel="stylesheet" type="text/css" href="../../revolution/fonts/pe-icon-7-stroke/css/pe-icon-7-stroke.css">
		<link rel="stylesheet" type="text/css" href="../../revolution/fonts/font-awesome/css/font-awesome.min.css">
		
		<!-- REVOLUTION STYLE SHEETS -->
		<link rel="stylesheet" type="text/css" href="../../revolution/css/settings.css">
		<!-- REVOLUTION LAYERS STYLES -->
		<link rel="stylesheet" type="text/css" href="../../revolution/css/layers.css">
			
		<!-- REVOLUTION NAVIGATION STYLES -->
		<link rel="stylesheet" type="text/css" href="../../revolution/css/navigation.css">
		
		<link rel="stylesheet" type="text/css" href="../../assets/css/noneed.css">
		
		<!-- REVOLUTION JS FILES -->
		<script type="text/javascript" src="../../revolution/js/jquery.themepunch.tools.min.js"></script>
		<script type="text/javascript" src="../../revolution/js/jquery.themepunch.revolution.min.js"></script>

		<!-- SLIDER REVOLUTION 5.0 EXTENSIONS  
			(Load Extensions only on Local File Systems !  
			The following part can be removed on Server for On Demand Loading) -->	
		<script type="text/javascript" src="../../revolution/js/extensions/revolution.extension.actions.min.js"></script>
		<script type="text/javascript" src="../../revolution/js/extensions/revolution.extension.carousel.min.js"></script>
		<script type="text/javascript" src="../../revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
		<script type="text/javascript" src="../../revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
		<script type="text/javascript" src="../../revolution/js/extensions/revolution.extension.migration.min.js"></script>
		<script type="text/javascript" src="../../revolution/js/extensions/revolution.extension.navigation.min.js"></script>
		<script type="text/javascript" src="../../revolution/js/extensions/revolution.extension.parallax.min.js"></script>
		<script type="text/javascript" src="../../revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
		<script type="text/javascript" src="../../revolution/js/extensions/revolution.extension.video.min.js"></script>
	</head>
	
	<body>
		<!-- HEADER -->
		 

		<article class="small-history"> 
			<h2 class="textaligncenter" style="margin-bottom:25px;">Auto Sized Example</h2>			
		</article>

	<section class="example">
		<article class="content">			
			<!-- START REVOLUTION SLIDER 5.0 auto mode -->
			<div id="rev_slider" class="rev_slider"  data-version="5.0">
				<ul>	
					<!-- SLIDE  -->
					<li data-transition="fade">
						
						<!-- MAIN IMAGE -->
						<img src="../../assets/images/newspaper_bg1.jpg"  alt=""  width="1920" height="1280">							

						<!-- LAYER NR. 1 -->
						<div class="tp-caption News-Title   tp-resizeme rs-parallaxlevel-0" 							
							 data-x="left" data-hoffset="80" 
							 data-y="top" data-voffset="450" 							
							 data-whitespace="normal"
							 data-transform_idle="o:1;"			
							 data-transform_in="o:0" 
							 data-transform_out="o:0" 							 
							 data-start="500" 							 							
							>DISCOVER THE WILD 
						</div>

						
					</li>
					
					<!-- SLIDE  -->
					<li data-transition="fade">
						
						<!-- MAIN IMAGE -->
						<img src="../../assets/images/newspaper_bg2.jpg"  alt=""  width="1920" height="1280">							

						<!-- LAYER NR. 1 -->
						<div class="tp-caption News-Title   tp-resizeme rs-parallaxlevel-0" 							
							 data-x="left" data-hoffset="80" 
							 data-y="top" data-voffset="450" 							
							 data-whitespace="normal"
							 data-transform_idle="o:1;"			
							 data-transform_in="o:0" 
							 data-transform_out="o:0" 							 
							 data-start="500" 							 							
							>SOME OTHER CONTENT 
						</div>						
					</li>

					<!-- SLIDE  -->
					<li data-transition="fade">
						
						<!-- MAIN IMAGE -->
						<img src="../../assets/images/newspaper_bg3.jpg"  alt=""  width="1920" height="1280">							

						<!-- LAYER NR. 1 -->
						<div class="tp-caption News-Title   tp-resizeme rs-parallaxlevel-0" 							 
							 data-x="left" data-hoffset="80" 
							 data-y="top" data-voffset="450" 							
							 data-whitespace="normal"
							 data-transform_idle="o:1;"			
							 data-transform_in="o:0" 
							 data-transform_out="o:0" 							 
							 data-start="500" 							 							
							>MORE CONTENT HERE 
						</div>						
					</li>
				</ul>				
			</div><!-- END REVOLUTION SLIDER -->			
		</article>
	</section>


	
	</section>



<script>
	/******************************************
	-	PREPARE PLACEHOLDER FOR SLIDER	-
	******************************************/
	
	var revapi;
	jQuery(document).ready(function() {		
		revapi = jQuery("#rev_slider").revolution({
			sliderType:"standard",
			sliderLayout:"auto",
			delay:9000,
			navigation: {
				arrows:{enable:true}				
			},			
			gridwidth:1230,
			gridheight:720		
		});		
	});	/*ready*/
</script>			

 
		<div class="clearfix"></div>		
		
		 

</body>
</html>